* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: rgb(75, 75, 75);
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}



